/* Tekstit */
p{
  color: black;
  font-family: 'Assistant'; 
}

/* Logo */
.plantImage {
  max-width: 100%; 
  height: auto;
}

/* navbar*/
#navbar {
  background-color: #364d1c !important; 
  padding-right: 100px !important;
}

/* navbar -linkit */
#navbar .navbar-nav .nav-link {
  color: #ffffff !important; 
  padding-left: 100px;
  font-family: 'Assistant';  
  
}


/* button */
.btn-primary {
  background-color: #364d1c !important; 
  border-color: #364d1c !important; 
  color: #ffffff !important; 
  border-radius: 20px !important; 
  font-family: 'Assistant'; 
}


/* footer*/
.footer {
  margin-top: 50px;
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 15px;
  bottom: 0;
  font-family: 'Assistant'; 
  
}