/* Tekstit */
p{
    color: black;
    font-family: 'Assistant'; 
  }
  
  /* banneri */
  #banner {
    width: 100%; 
    height: auto;
  }
  
  #buttons{
    padding-top: 30px;
  }
  
  
  
  /* navbar*/
  #navbar {
    background-color: #364d1c !important; 
    padding-right: 100px !important;
  }
  
  /* navbar -linkit */
  #navbar .navbar-nav .nav-link {
    color: #ffffff !important; 
    padding-left: 100px;
    font-family: 'Assistant';  
    
  }
  
  
  /* button */
  .btn-primary {
    background-color: #364d1c !important; 
    border-color: #364d1c !important; 
    color: #ffffff !important; 
    border-radius: 20px !important; 
    font-family: 'Assistant'; 
    font-weight: bold !important;
    margin: 40px;
  }
  
  
  /* footer*/
  .footer {
    margin-top: 50px;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 15px;
    bottom: 0;
    font-family: 'Assistant'; 
    
  }
  
  
  h3{
    color: #ffffff;
    font-family: 'Assistant'; 
    font-weight: bold;
    margin-left: 3%;
  }
  
  