/*tilauslomake*/
.card {
    margin-top: 20px;
    padding: 5px;

}
/*ostoskorin sisältö*/
.section{
    margin-top: 20px;

}

/*Shopping cart-otsikko*/
h2{
    font-family: 'Assistant' !important; 
    font-weight: bold  !important;
}

/*Tuotteet*/
li{
    font-family: 'Assistant' !important; 
    font-size: 25px;
}

/*Yhteissumma teksti*/
.total-text {
    font-family: 'Assistant' !important; 
    font-size: 25px !important;
}
.order-placed-message {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    color: rgb(252, 252, 252);
    background-color:  #3d6212;

  }
  .shopping-cart-list {
    list-style-type: none;
  }