h3{
    font-family: 'Assistant' !important; 
    font-size: 30px !important;
    
    
}

.section .card-body h6{
    font-family: 'Assistant' !important;
    font-size: 25px !important;
    
}

.form-group label, .form-group input, .form-group textarea, .form-group button{
    font-family: 'Assistant' !important;
    font-size: 25px !important;
}
.thank-you-message{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    color: rgb(252, 252, 252);
    background-color:  #3d6212;
    border-radius: 5px;
}