.navbar-nav .nav-link{
    font-family: 'Assistant' !important; 
    padding-right: 50px !important;

}

.navbar-brand {
    font-family: 'Assistant' !important; 
    padding-left: 25px;
    font-size: 30px !important;;

}