.btn-custom {
    background-color: #364d1c !important; 
    border-color:  #364d1c !important; 
    color: #ffffff !important; 
    border-radius: 15px !important; 
    font-family: 'Assistant'; 
    font-weight: bold !important;
    margin: 40px;
  }

  .underline {
    background-color: #000;

  }

  /*tuotekuvien koot */
  .product-image {
  object-fit:scale-down;
  width:auto;
  height: 350px;
}
.added-to-cart-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #486625;
  color: white;
  padding: 30px;
  border-radius: 10px;
  display: block;
  z-index: 999; /* Taka-alalla olevien elementtien päällä */
  font-size: 20px;
}
